<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=no"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%= title %></title>
        <link type="text/css" rel="styleSheet"  href="/static/index.css" />
        <style>
            .mock-content {
                background-color: #348fe4;
                padding-top: 80px;
                margin-top: -80px;
                text-align: center;
            }
        </style>
    </head>

    <body>
        <% include header %>

        <div class="mock-content">
           <img src="/static/index.png" alt="">
        </div>

        <% include footer %>
    </body>
</html>
