@import './shared/variables.scss';
@import './mixins/mixins.scss';

.header-section {
  .pc-hide {
    display: none;
  }
  @include button-mixin();
  @include clearfix-mixin();

  @include hover-bg-mixin();

  @include layout-mixin();
  @include reboot();
  @include unselected-able-mixin();
  box-sizing: border-box;
  width: 100%;
  height: $header-normal-height;
  font-family: $font-family-default;
  transition: all 300ms linear;
  &.open-drainage,
  &.touch-top {
    .header-fixed-box {
      background-color: transparent;
      box-shadow: none;
      .header-section-wrapper {
        .left-header-box {
          .center-nav-box {
            .header-nav-list {
              .header-nav-item {
                &:hover {
                  .nav-hover-menu {
                    .nav-menu-box {
                      .drainage-box-shadow {
                        width: 100%;
                        height: 70px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        box-shadow: 0 10px 40px -15px rgba(64, 90, 163, 0.15);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &.open-drainage {
    height: $header-drainage-height;
    .header-fixed-box {
      .header-drainage {
        opacity: 1;
        height: 44px;
        &:hover {
          background-color: $primary-new-hover;
        }
      }
      .header-section-wrapper {
        .left-header-box {
          .center-nav-box {
            .header-nav-list {
              .header-nav-item {
                &:hover {
                  .nav-hover-menu {
                    .nav-menu-box {
                      height: $header-drainage-menu-height;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .header-fixed-box {
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 10px 40px -15px rgba(64, 90, 163, 0.15);
    background-color: $white;
    transition: all 300ms linear;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    .header-drainage {
      width: 100%;
      height: 0;
      overflow: hidden;
      background-color: $primary-new;
      transition: all 0.5s;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .drainage-content {
        height: 44px;
        outline: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .drainage-title {
          color: $white;
          font-size: 14px;
          letter-spacing: 0.5px;
        }
        .drainage-detail {
          display: flex;
          align-items: center;
          justify-content: center;
          > img {
            width: 16px;
            position: relative;
          }
        }
      }
      .drainage-close {
        position: absolute;
        top: 50%;
        right: 22px;
        transform: translateY(-50%);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
          width: 16px;
        }
      }
    }
    .header-section-wrapper {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      .header-nav-close {
        display: none;
      }
      .left-header-box {
        box-sizing: border-box;
        display: flex;
        .header-logo-box {
          box-sizing: border-box;
          height: $header-normal-height;
          display: flex;
          align-items: center;
          justify-content: center;
          .wt-logo {
            width: 168px;
            display: flex;
            .worktile-logo {
              width: 100%;
            }
            .worktile-logo-reverse {
              display: none;
            }
          }
          .logo-menu-down {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            .arrow-down-box {
              box-sizing: border-box;
              width: 40px;
              height: 40px;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
              > svg {
                fill: $icon-color;
                width: 14px;
                transition: all 300ms linear;
                &.icon--reverse {
                  display: none;
                }
              }
            }
            .logo-hover-menu {
              border-radius: 4px;
              opacity: 0;
              transition: opacity 300ms linear;
              padding: 20px 16px;
              box-sizing: border-box;
              width: 276px;
              position: absolute;
              top: -54000px;
              left: 3px;
              z-index: 99;
              margin-left: -121px;
              box-shadow: 0 10px 24px 1px rgba(64, 90, 163, 0.13);
              background: $white;
              overflow: visible;
              &::before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                box-sizing: border-box;
                border: 10px solid transparent;
                border-bottom-color: $white;
                position: absolute;
                top: -20px;
                left: 50%;
                transform: translateX(-50%) rotateY(32deg);
              }
              > ul {
                > li {
                  width: 100%;
                  height: 80px;
                  position: relative;
                  > a {
                    display: block;
                    box-sizing: border-box;
                    width: 245px;
                    height: 80px;
                    padding: 20px 0 20px 20px;
                    border-radius: 4px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    z-index: 1;
                    img {
                      float: left;
                      margin-right: 15px;
                      box-sizing: border-box;
                      width: 44px;
                      height: 44px;
                    }
                    span {
                      &:nth-child(2) {
                        display: block;
                        font-size: 17px;
                        color: $gray-333;
                      }
                      &:nth-child(3) {
                        font-size: 12px;
                        color: $custom-aaa;
                      }
                    }
                  }
                  &:hover {
                    > a {
                      background: #f4f9ff;
                    }
                  }
                }
              }
            }
            &:hover {
              .arrow-down-box {
                > svg {
                  fill: $primary-new;
                  transform: rotate(180deg);
                }
              }
              .logo-hover-menu {
                opacity: 1;
                top: 61px;
              }
            }
          }
        }
        .center-nav-box {
          box-sizing: border-box;
          margin-left: 48px;
          .header-nav-list {
            box-sizing: border-box;
            display: flex;
            margin-top: 29px;
            .header-nav-item {
              margin-left: 32px;
              height: 22px;
              display: flex;
              flex-direction: column;
              &:first-child {
                margin-left: 0;
              }
              &.production {
                .nav-hover-menu .nav-menu-box .nav-menu-content .nav-menu-top .nav-menu-wrapper .nav-menu-type .nav-menu-list {
                  .nav-menu-item.one-line-des {
                    height: 74px;
                  }
                }
              }
              &.wechatwork {
                .nav-title-icon {
                  > a {
                    position: relative;
                    .nav-title-tips {
                      height: 21px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      position: absolute;
                      right: -68px;
                      top: 0;
                      > img {
                        width: 65px;
                      }
                    }
                  }
                }
              }
              .nav-title-icon {
                display: flex;
                align-items: center;
                cursor: pointer;
                > a {
                  font-size: 16px;
                  color: $gray-333;
                  letter-spacing: 0.6px;
                }
                .nav-arrow-down {
                  box-sizing: border-box;
                  width: 20px;
                  height: 20px;
                  overflow: hidden;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  > svg {
                    fill: $icon-color;
                    width: 14px;
                    transition: all 300ms linear;
                    &.icon--reverse {
                      display: none;
                    }
                  }
                }
              }
              .nav-hover-menu {
                margin-top: 29px;
                box-sizing: border-box;
                width: 100%;
                height: 0;
                transition: all 300ms linear;
                .nav-menu-box {
                  width: 100%;
                  height: 0;
                  position: absolute;
                  left: 0;
                  .nav-menu-content {
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    z-index: 2;
                    background-color: $white;
                    transition: all 300ms linear;
                    .nav-menu-top {
                      .nav-menu-wrapper {
                        display: flex;
                        .nav-menu-type {
                          position: relative;
                          left: -20px;
                          &.width-percent-25 {
                            width: 25%;
                            .nav-menu-title-line {
                              .nav-menu-divider {
                                margin-right: 22px;
                              }
                            }
                            .nav-menu-list {
                              .nav-menu-item {
                                margin-right: 0;
                              }
                            }
                          }
                          &.width-percent-50 {
                            width: 50%;
                            .nav-menu-list {
                              .nav-menu-item:nth-child(2n+2) {
                                margin-right: 0;
                              }
                            }
                          }
                          &.width-percent-75 {
                            width: 75%;
                            .nav-menu-list {
                              .nav-menu-item:nth-child(3n+3) {
                                margin-right: 0;
                              }
                            }
                          }
                          &:last-child {
                            left: 0;
                            .nav-menu-title-line {
                              padding-left: 0;
                            }
                            .nav-menu-list {
                              .nav-menu-item {
                                position: relative;
                                left: -22px;
                              }
                            }
                          }
                          .nav-menu-title-line {
                            margin-bottom: -12px;
                            padding: 24px 0 0 20px;
                            .nav-menu-title {
                              height: 17px;
                              line-height: 17px;
                              font-size: 12px;
                              color: $gray-666;
                            }
                            .nav-menu-divider {
                              margin-top: 24px;
                              border-bottom: 1px solid $gray-ddd;
                            }
                          }
                          .nav-menu-list {
                            display: flex;
                            flex-wrap: wrap;
                            .nav-menu-item {
                              margin-top: 24px;
                              margin-right: 24px;
                              padding: 12px 32px 12px 48px;
                              box-sizing: border-box;
                              width: 280px;
                              height: 94px;
                              border-radius: 4px;
                              overflow: hidden;
                              position: relative;
                              cursor: pointer;
                              &.to-all {
                                height: 46px;
                              }
                              > a {
                                display: block;
                                width: 100%;
                                .nav-item-card {
                                  .header-nav-left-icon {
                                    width: 20px;
                                    position: absolute;
                                    top: 12px;
                                    left: 22px;
                                    &.about-us-img {
                                      width: 16px;
                                      top: 14px;
                                      left: 24px;
                                    }
                                  }
                                  .nav-item-title {
                                    margin-bottom: 8px;
                                    line-height: 20px;
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: $gray-333;
                                    display: flex;
                                    align-items: center;
                                    .to-all-img {
                                      margin-left: 10px;
                                      height: 20px;
                                    }
                                  }
                                  .nav-item-info {
                                    line-height: 21px;
                                    text-align: justify;
                                    font-size: 12px;
                                    letter-spacing: 0;
                                    color: $gray-666;
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                    .nav-menu-bottom {
                      box-sizing: border-box;
                      height: $header-normal-height--sm;
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      z-index: 982;
                      background-color: $header-wrapper-bg;
                      .bottom-go {
                        box-sizing: border-box;
                        width: 1200px;
                        max-width: 1200px;
                        height: 100%;
                        margin-left: auto;
                        margin-right: auto;
                        display: flex;
                        justify-content: space-between;
                        > a {
                          box-sizing: border-box;
                          height: 100%;
                          text-decoration: none;
                          display: flex;
                          align-items: center;
                          .pingcode-logo {
                            margin-right: 17px;
                            height: 27px;
                            position: relative;
                            top: -2px;
                          }
                          > span {
                            font-size: 12px;
                            color: $gray-666;
                            letter-spacing: 0;
                            position: relative;
                            &.left-split-y::before {
                              content: '';
                              display: block;
                              box-sizing: border-box;
                              width: 0;
                              height: 10px;
                              border-right: 1px solid $gray-ddd;
                              position: absolute;
                              top: 0;
                              left: -9px;
                              bottom: 0;
                              margin: auto 0;
                            }
                          }
                          &:hover {
                            > span {
                              color: $primary-new;
                            }
                          }
                        }
                        > div {
                          box-sizing: border-box;
                          height: 100%;
                          text-decoration: none;
                          display: flex;
                          align-items: center;
                          font-size: 12px;
                          color: $gray-666;
                          letter-spacing: 0;
                          > a {
                            font-size: 16px;
                            color: $gray-666;
                            letter-spacing: 1px;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .worktile-phone {
                              display: inline;
                              width: 106px;
                              max-width: unset;
                            }
                            .worktile-phone-blue {
                              display: none;
                              width: 106px;
                              max-width: unset;
                            }
                            &:hover {
                              color: $primary-new;
                              .worktile-phone {
                                display: none;
                              }
                              .worktile-phone-blue {
                                display: inline;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              &:hover {
                height: unset;
                .nav-title-icon {
                  > a {
                    color: $primary-new;
                  }
                  .nav-arrow-down {
                    > svg {
                      fill: $primary-new;
                      transform: rotate(180deg);
                    }
                  }
                }
                /** 4行 - 三行 = 603 - 485 = 118 */
                .nav-hover-menu {
                  .nav-menu-box {
                    height: $header-normal-menu-height;
                  }
                }
                &.production {
                  .nav-hover-menu {
                    height: 350px;
                  }
                }
                &.solution-plan {
                  .nav-hover-menu {
                    height: 485px;
                  }
                }
                &.supports {
                  .nav-hover-menu {
                    height: 603px;
                  }
                }
              }
            }
          }
        }
      }
      .right-login-box {
        box-sizing: border-box;
        height: $header-normal-height;
        .wt-header-login {
          height: 100%;
          display: flex;
          align-items: center;
          > a {
            letter-spacing: 0.6px;
            &:last-child {
              margin-left: 12px;
            }
            &.header-phone-num {
              padding-right: 20px;
              box-sizing: border-box;
              height: 32px;
              line-height: 32px;
              display: flex;
              align-items: center;
              justify-content: center;
              > img {
                display: inline;
                width: 106px;
                max-width: unset;
              }
              .wt-phone-blue,
              .wt-phone-reverse {
                display: none;
              }
              &:hover {
                .wt-phone {
                  display: none;
                }
                .wt-phone-blue {
                  display: inline;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 717px) {
    .pc-hide {
      display: block;
    }
    height: $header-normal-height--sm;
    &.open-drainage {
      height: $header-drainage-height--sm;
      .header-fixed-box {
        .header-drainage {
          height: $header-normal-height--sm;
        }
        .header-section-wrapper {
          .left-header-box {
            .center-nav-box {
              .header-nav-list {
                .header-nav-item {
                  &:hover {
                    .nav-hover-menu {
                      .nav-menu-box {
                        height: $header-drainage-menu-height--sm;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .header-fixed-box {
      .header-drainage {
        box-sizing: border-box;
        padding: 0 56px 0 20px;
        display: block;
        .drainage-content {
          margin-top: 10px;
          padding: 0;
          box-sizing: border-box;
          height: unset;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          cursor: pointer;
          .drainage-title {
            line-height: 20px;
            color: $white;
            font-size: 14px;
            letter-spacing: 0;
          }
          .drainage-detail {
            display: none;
          }
        }
        .drainage-close {
          top: 15px;
          right: 20px;
          transform: none;
        }
      }
      .header-section-wrapper {
        height: $header-normal-height--sm;
        position: relative;
        .header-nav-close {
          position: absolute;
          top: 22px;
          right: 21px;
          z-index: 199;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          > img {
            width: 14px;
          }
          .header-nav-close-img {
            display: none;
          }
          .header-nav-menu-img {
            display: block;
          }
        }
        .left-header-box {
          &::before {
            content: '';
            display: block;
            width: 100vw;
            height: 60px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 8;
            background-color: $white;
          }
          .header-logo-box {
            padding-left: 20px;
            height: $header-normal-height--sm;
            position: relative;
            z-index: 9;
            .wt-logo {
              width: 110px;
            }
            .logo-menu-down {
              display: none;
            }
          }
          .center-nav-box {
            display: none;
          }
        }
        .right-login-box {
          display: none;
          height: $header-normal-height--sm;
        }
      }
    }
    &.open-mobile-header {
      .header-fixed-box {
        height: 100%;
        background-color: $white;
        .header-section-wrapper {
          display: block;
          box-sizing: border-box;
          height: 100%;
          padding-bottom: $header-normal-height--sm;
          transition: all 300ms linear;
          .header-nav-close {
            .header-nav-close-img {
              display: block;
            }
            .header-nav-menu-img {
              display: none;
            }
          }
          .left-header-box {
            box-sizing: border-box;
            height: 100%;
            flex-direction: column;
            align-items: flex-start;
            .center-nav-box {
              display: block;
              margin: 0;
              box-sizing: border-box;
              width: 100%;
              height: $header-normal-menu-height--sm;
              overflow: auto;
              .header-nav-list {
                display: block;
                margin: 0;
                box-sizing: border-box;
                width: 100%;
                .header-nav-item {
                  margin-left: 0;
                  height: 50px;
                  border-bottom: 1px solid #efefef;
                  transition: height 300ms linear;
                  &:hover,
                  &:active {
                    height: 50px;
                    .nav-title-icon {
                      > a {
                        color: $gray-333;
                      }
                      .nav-arrow-down {
                        > svg {
                          fill: $icon-color;
                          transform: rotate(0);
                        }
                      }
                    }
                    /** 4行 - 三行 = 603 - 485 = 118 */
                    .nav-hover-menu {
                      .nav-menu-box {
                        height: 0;
                      }
                    }
                    &.production,
                    &.solution-plan,
                    &.supports {
                      .nav-hover-menu {
                        height: 0;
                      }
                    }
                  }
                  &.active {
                    height: unset;
                    .nav-title-icon {
                      background-color: #f3f9ff;
                      > a {
                        color: $primary-new;
                      }
                      .nav-arrow-down {
                        > svg {
                          fill: $primary-new;
                          transform: rotate(180deg);
                        }
                      }
                    }
                    /** 4行 - 三行 = 603 - 485 = 118 */
                    .nav-hover-menu {
                      .nav-menu-box {
                        height: auto;
                      }
                    }
                    &.production,
                    &.solution-plan,
                    &.supports {
                      .nav-hover-menu {
                        height: auto;
                      }
                    }
                  }
                  &.production {
                    .nav-hover-menu .nav-menu-box .nav-menu-content .nav-menu-top .nav-menu-wrapper .nav-menu-type .nav-menu-list {
                      .nav-menu-item.one-line-des {
                        height: auto;
                      }
                    }
                  }
                  .nav-title-icon {
                    padding: 0 19px 0 20px;
                    box-sizing: border-box;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    > a {
                      font-size: 14px;
                    }
                    .sm-need-nav-title {
                      width: 100%;
                      height: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: flex-start;
                      .nav-title-tips {
                        height: 100%;
                        right: auto;
                        left: 80px;
                        > img {
                          width: 50px;
                        }
                      }
                    }
                  }
                  .nav-hover-menu {
                    margin-top: 0;
                    height: auto;
                    .nav-menu-box {
                      position: relative;
                      .nav-menu-content {
                        .nav-menu-top {
                          .nav-menu-wrapper {
                            flex-direction: column;
                            .nav-menu-type {
                              width: 100%;
                              left: 0;
                              .nav-menu-title-line {
                                padding: 20px 20px 0;
                                .nav-menu-title {
                                  color: $custom-aaa;
                                  font-size: 0.75rem;
                                }
                                .nav-menu-divider {
                                  margin-right: 0;
                                }
                              }
                              .nav-menu-list {
                                .nav-menu-item {
                                  margin-top: 10px;
                                  padding: 6px 20px 6px 48px;
                                  width: 100%;
                                  height: auto;
                                  left: 0;
                                  &:first-child {
                                    margin-top: 20px;
                                  }
                                  &:last-child {
                                    margin-bottom: 16px;
                                  }
                                  > a {
                                    .nav-item-card {
                                      .header-nav-left-icon {
                                        top: 5px;
                                        left: 20px;
                                      }
                                      .nav-item-title,
                                      .nav-item-info {
                                        font-size: 12px;
                                      }
                                      .nav-item-info {
                                        color: #9b9b9b;
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                        .nav-menu-bottom {
                          display: none;
                        }
                      }
                      .drainage-box-shadow {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
          .right-login-box {
            display: block;
            border-top: 1px solid #d5dbde;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            .wt-header-login {
              &::before {
                display: block;
                content: "";
                border-left: 1px solid #d5dbde;
                height: 30px;
                position: absolute;
                top: 14px;
                left: 50%;
                z-index: 1;
              }
              > a {
                margin: 0;
                box-sizing: border-box;
                border: 0 none;
                height: 100%;
                line-height: 58px;
                flex: 1;
                text-align: center;
                font-size: 14px;
                color: $primary;
                background-color: #fbfdfe;
                position: relative;
                &.header-phone-num {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    &.open-mobile-header.open-drainage {
      .header-fixed-box {
        .header-section-wrapper {
          height: $header-normal-menu-height--sm;
        }
      }
    }
  }
}

.header-section.open-drainage.reverse-color,
.header-section.touch-top.reverse-color {
  @media (min-width: 718px) {
    .header-fixed-box {
      .header-section-wrapper {
        .left-header-box {
          .header-logo-box {
            .wt-logo {
              .worktile-logo {
                display: none;
              }
              .worktile-logo-reverse {
                display: block;
              }
            }
            .logo-menu-down {
              .arrow-down-box {
                > svg {
                  display: none;
                  &.icon--reverse {
                    display: flex;
                  }
                }
              }
            }
          }
          .center-nav-box {
            .header-nav-list {
              .header-nav-item,
              .header-nav-item:hover {
                .nav-title-icon {
                  > a {
                    color: $white;
                  }
                  .nav-arrow-down {
                    > svg {
                      display: none;
                      &.icon--reverse {
                        display: flex;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .right-login-box {
          .wt-header-login {
            .header-phone-num {
              > img {
                display: none;
              }
              .wt-phone-reverse {
                display: inline-block;
                transition: opacity 300ms linear;
                &:hover {
                  opacity: 0.7;
                }
              }
            }
            .btn {
              border-color: $white;
            }
          }
        }
      }
    }
  }
}
