<footer class="footer-section">
    <div class="footer-section-wrapper wrapper">
        <section class="footer-top-nav">
            <div class="footer-logo-column">
                <a class="footer-wt-logo" href="/" target="_self">
                    <img
                        class="footer-logo"
                        src="../assets/img/footer/logo_samll.svg"
                    />
                </a>
            </div>

            <ul class="footer-href-layout">
                <li class="footer-href-column has-8-item">
                    <h5 class="footer-column-title">产品
                        <div class="mo-nav-arrow-down pc-hidden">
                            <svg t="1603176563270" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4046" width="128" height="128"><path d="M65.409221 340.948229c42.307571-35.385928 65.340147-52.599985 106.850563-88.881306 145.652288 142.907781 145.652288 142.907781 339.739704 331.683215 120.79925-111.760386 223.503377-215.061101 339.745844-322.608535 35.456536 31.605835 69.40472 61.860906 106.844423 95.232968-150.207024 139.312906-298.090119 276.471752-448.054619 415.557484-10.259668-9.280364-19.784602-17.652032-29.03529-26.319435L65.409221 340.948229z" p-id="4047"></path></svg>
                        </div>
                    </h5>

                    <ul class="footer-column-list">
                        <li class="footer-href-item"><a href="https://worktile.com/product/project" target="_self">项目</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/product/goals" target="_self">目标</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/product/drive" target="_self">网盘</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/product/message" target="_self">消息</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/product/calendar" target="_self">日历</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/client" target="_self">客户端</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/wechatwork" target="_self">企业微信版</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/pricing" target="_self">价格</a></li>
                    </ul>
                </li>

                <li class="footer-href-column has-3-item">
                    <h5 class="footer-column-title">解决方案
                        <div class="mo-nav-arrow-down pc-hidden">
                            <svg t="1603176563270" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4046" width="128" height="128"><path d="M65.409221 340.948229c42.307571-35.385928 65.340147-52.599985 106.850563-88.881306 145.652288 142.907781 145.652288 142.907781 339.739704 331.683215 120.79925-111.760386 223.503377-215.061101 339.745844-322.608535 35.456536 31.605835 69.40472 61.860906 106.844423 95.232968-150.207024 139.312906-298.090119 276.471752-448.054619 415.557484-10.259668-9.280364-19.784602-17.652032-29.03529-26.319435L65.409221 340.948229z" p-id="4047"></path></svg>
                        </div>
                    </h5>

                    <ul class="footer-column-list">
                        <li class="footer-href-item"><a href="https://worktile.com/solution/project" target="_self">项目管理</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/solution/okr" target="_self">目标管理</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/scrum" target="_self">软件研发管理</a></li>
                        <li class="footer-href-item"><a href="https://apps.worktile.com/templates" target="_self">模板市场</a></li>
                    </ul>
                </li>

                <li class="footer-href-column has-4-item">
                    <h5 class="footer-column-title">资源和服务
                        <div class="mo-nav-arrow-down pc-hidden">
                            <svg t="1603176563270" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4046" width="128" height="128"><path d="M65.409221 340.948229c42.307571-35.385928 65.340147-52.599985 106.850563-88.881306 145.652288 142.907781 145.652288 142.907781 339.739704 331.683215 120.79925-111.760386 223.503377-215.061101 339.745844-322.608535 35.456536 31.605835 69.40472 61.860906 106.844423 95.232968-150.207024 139.312906-298.090119 276.471752-448.054619 415.557484-10.259668-9.280364-19.784602-17.652032-29.03529-26.319435L65.409221 340.948229z" p-id="4047"></path></svg>
                        </div>
                    </h5>

                    <ul class="footer-column-list">
                        <li class="footer-href-item"><a href="https://help.worktile.com" target="_self">帮助中心</a></li>
                        <li class="footer-href-item"><a href="https://blog.worktile.com" target="_self">博客</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/videos" target="_self">视频教程</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/consulting" target="_self">咨询服务</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/developer" target="_self">开发者</a></li>
                        <li class="footer-href-item"><a href="https://blog.worktile.com/tag/features" target="_self">更新日志</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/security" target="_self">安全与信任</a></li>
                    </ul>
                </li>

                <li class="footer-href-column has-3-item">
                    <h5 class="footer-column-title">公司
                        <div class="mo-nav-arrow-down pc-hidden">
                            <svg t="1603176563270" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4046" width="128" height="128"><path d="M65.409221 340.948229c42.307571-35.385928 65.340147-52.599985 106.850563-88.881306 145.652288 142.907781 145.652288 142.907781 339.739704 331.683215 120.79925-111.760386 223.503377-215.061101 339.745844-322.608535 35.456536 31.605835 69.40472 61.860906 106.844423 95.232968-150.207024 139.312906-298.090119 276.471752-448.054619 415.557484-10.259668-9.280364-19.784602-17.652032-29.03529-26.319435L65.409221 340.948229z" p-id="4047"></path></svg>
                        </div>
                    </h5>

                    <ul class="footer-column-list">
                        <li class="footer-href-item"><a href="https://jobs.worktile.com/#/" target="_self">加入我们</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/about" target="_self">投资者关系</a></li>
                        <li class="footer-href-item"><a href="https://worktile.com/partner" target="_self">合作伙伴</a></li>
                    </ul>
                </li>
            </ul>

            <div class="footer-last-column">
                <h5 class="footer-column-title">联系客户顾问</h5>
                <ul class="footer-column-list">
                    <li class="footer-href-item last-href-item"><a href="tel:400-805-6966" target="_self">400-805-6966</a></li>
                    <li class="footer-href-item footer-social last-href-item">
                        <ul class="footer-social-list clearfix">
                            <li class="footer-social-item wechat">
                                <a href="javascript:" target="_self">
                                    <img
                                        class="weixin"
                                        src="../assets/img/footer/weixin.png"
                                    />
                                </a>
                                <img
                                    class="hover-top-tooltips wechat-tip"
                                    width="100%"
                                    src="../assets/img/footer/new-weixin.png"
                                    alt=""
                                />
                            </li>

                            <li class="footer-social-item">
                                <a href="https://www.zhihu.com/org/bei-jing-yi-cheng-shi-dai-ke-ji-you-xian-gong-si" target="_blank"
                                >
                                    <img
                                        class="zhihu"
                                        src="../assets/img/footer/zhihu.png"
                                    />
                                </a>
                            </li>

                            <li class="footer-social-item">
                                <a href="https://weibo.com/worktile" target="_blank"
                                >
                                    <img
                                        class="weibo"
                                        src="../assets/img/footer/weibo.png"
                                    />
                                </a>
                            </li>

                            <li class="footer-social-item">
                                <a href="https://www.jianshu.com/u/82213c618353" target="_blank"
                                >
                                    <img
                                        class="jianshu"
                                        src="../assets/img/footer/jianshu.png"
                                    />
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer-href-item footer-slogan last-href-item">我们用Worktile创造Worktile</li>
                </ul>
            </div>
        </section>

        <section class="footer-bottom-copyright">
            <div class="copyright-years">© 2020 Worktile.com</div>
            <a class="copyright-number" href="https://beian.miit.gov.cn/" target="_blank"><span class="mo-hidden">ICP：京B2-20192206 京ICP备13017353号-4 </span>京公网安备11010802012357号</a>
            <div class="copyright-img-box">
                <img class="copyright-img-trust" alt="copyright img trust"
                     src="../assets/img/footer/certificate_1.jpg"
                />

                <img class="copyright-img-security" alt="copyright img security"
                     src="../assets/img/footer/certificate_2.svg"
                />
            </div>
        </section>
    </div>
</footer>
