@mixin layout-mixin() {
    .wrapper {
        width: $wrapper-width;
        max-width: $wrapper-width;
        margin-left: auto;
        margin-right: auto;
        @media (max-width: 717px) {
            width: 100%;
            max-width: 100%;
        }
    }
}
